name: Zip Utilities and README

on:
  push:
    branches:
      - main

env:
  MAJOR_VERSION: 1
  MINOR_VERSION: 0

jobs:
  zip_files:
    runs-on: ubuntu-latest

    steps:
      - name: Get version
        id: version
        run: |
          MAJOR=$(MAJOR_VERSION)
          MINOR=$(MINOR_VERSION)
          PATCH=$(git rev-list --count HEAD)
          echo "VERSION=$MAJOR.$MINOR.$PATCH" >> $GITHUB_ENV
          echo "Version is $MAJOR.$MINOR.$PATCH"

      - name: Checkout repository
        run: |
          MAJOR=1
          MINOR=0  
          PATCH=$(git rev-list --count HEAD)
          VERSION="$MAJOR.$MINOR.$PATCH"
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Create zip
        run: |
          zip -r zipped_data/MHR_Utilities.zip Utilities README.md

      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: MHR_Utilities
          path: zipped_data/MHR_Utilities.zip
