name: Zip Utilities and README

on:
  push:
    branches:
      - main

env:
  MAJOR_VERSION: 1
  MINOR_VERSION: 0

jobs:
  zip_files:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate version number
        env:
          Version: ${{ github.run_id }}.${{ github.run_number }}.${{ github.run_attempt }}
        run: |
          echo "{\"version\": \"$Version\"}"

      - name: Create zip
        env:
            Version: 1.${{ github.run_number }}.${{ github.run_attempt }}.${{ github.run_id }}
        run: |
          zip -r "MHR_Utilities.zip $Version" Utilities README.md

      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: "MHR_Utilities.zip $Version"
          path: "MHR_Utilities.zip $Version"