name: MHR_Util

on:
  push:
    branches:
      - main
      - main_release

env:
  Version: 1.${{ github.run_number }}.${{ github.run_attempt }}.${{ github.run_id }}

jobs:
  zip_files:
    runs-on: ubuntu-latest

    steps:
      - name: Set artifact name
        run: |
          echo "ArtifactName=MHR_Util ${{ env.Version }}" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate version number
        run: |
          echo $Version

      # This step is not necessary because github actions automatically creates a zip of the artifacts
      - name: Create zip
        if: github.ref == 'refs/heads/main_release'
        run: |
          zip -r "${{ env.ArtifactName }}.zip" Utilities/**/*

      - name: Delete old releases (keep 2 most recent)
        if: github.ref == 'refs/heads/main_release'
        run: |
          run: |
          # Fetch all releases, sorted by creation date descending
          releases=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${{ github.repository }}/releases | \
            jq -r 'sort_by(.created_at) | reverse | .[] | "\(.id) \(.tag_name)"')

          count=0

          for release in $releases; do
            count=$((count + 1))
            # Split id and tag
            RELEASE_ID=$(echo $release | awk '{print $1}')
            TAG_NAME=$(echo $release | awk '{print $2}')

            if [ $count -le 2 ]; then
              echo "Keeping release ID $RELEASE_ID with tag $TAG_NAME"
            else
              echo "Deleting release ID $RELEASE_ID and tag $TAG_NAME"

              # Delete the release
              curl -X DELETE -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
                https://api.github.com/repos/${{ github.repository }}/releases/$RELEASE_ID

              # Delete the tag from remote
              git push origin --delete $TAG_NAME || echo "Tag $TAG_NAME already deleted"
            fi
          done

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: github.ref == 'refs/heads/main_release'
        with:
          tag_name: v${{ env.Version }}
          name: ${{ env.ArtifactName }} Release
          files: ${{ env.ArtifactName }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        if: github.ref != 'refs/heads/main_release'
        with:
          name: "${{ env.ArtifactName }}.zip"
          path: |
            Utilities/**/*
            README.md