name: MHR_Util

on:
  push:
    branches:
      - main
      - main_release

env:
  Version: 1.${{ github.run_number }}.${{ github.run_attempt }}.${{ github.run_id }}

jobs:
  build_release:
    runs-on: ubuntu-latest

    steps:
      - name: Set artifact name
        run: |
          echo "ArtifactName=MHR_Util ${{ env.Version }}" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate version number
        run: |
          echo $Version

      - name: Create zip
        if: github.ref == 'refs/heads/main_release'
        run: |
          cd Utilities
          zip -r "${{ env.ArtifactName }}.zip" ./*

      - name: Delete all releases and tags
        run: |
          # Delete releases
          releases=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${{ github.repository }}/releases | jq -r '.[].id')
          for id in $releases; do
            tag=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              https://api.github.com/repos/${{ github.repository }}/releases/$id | jq -r '.tag_name')
            echo "Deleting release ID $id with tag $tag"
            curl -X DELETE -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              https://api.github.com/repos/${{ github.repository }}/releases/$id
            # Delete the tag if it exists
            if [ ! -z "$tag" ]; then
              git push origin --delete "$tag" || echo "Tag $tag already deleted"
            fi
          done

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: github.ref == 'refs/heads/main_release'
        with:
          tag_name: v${{ env.Version }}
          name: ${{ env.ArtifactName }} Release
          files: Utilities/${{ env.ArtifactName }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ env.ArtifactName }}"
          path: |
            Utilities/**/*