name: MHR_Util

on:
  push:
    branches:
      - main
      - main_release

env:
  Version: 1.${{ github.run_number }}.${{ github.run_attempt }}.${{ github.run_id }}

jobs:
  cleanup_releases:
    runs-on: ubuntu-latest
    steps:
      - name: Delete all releases via API
        run: |
          releases=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${{ github.repository }}/releases | jq -r '.[].id')
          for id in $releases; do
            echo "Deleting release $id"
            curl -X DELETE -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              https://api.github.com/repos/${{ github.repository }}/releases/$id
          done
          
  zip_files:
    runs-on: ubuntu-latest

    steps:
      - name: Set artifact name
        run: |
          echo "ArtifactName=MHR_Util ${{ env.Version }}" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate version number
        run: |
          echo $Version

      # This step is not necessary because github actions automatically creates a zip of the artifacts
      - name: Create zip
        run: |
          zip -r "${{ env.ArtifactName }}.zip" Utilities README.md

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: github.ref == 'refs/heads/main_release'  # <-- triggered by push to main_release branch
        with:
          tag_name: v${{ env.Version }}
          name: ${{ env.ArtifactName }} Release
          files: ${{ env.ArtifactName }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ env.ArtifactName }}.zip"
          path: |
            Utilities/
            README.md