name: Zip Utilities and README

on:
  push:
    branches:
      - main

env:
  Version: 1.${{ github.run_number }}.${{ github.run_attempt }}.${{ github.run_id }}

jobs:
  zip_files:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate version number
        run: |
          echo $Version

      - name: Create zip
        run: |
          zip -r "MHR_Util_${{ env.Version }}.zip" Utilities README.md

      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: "MHR_Util_${{ env.Version }}.zip"
          path: "MHR_Util_${{ env.Version }}.zip"