name: MHR_Util

on:
  push:
    branches:
      - main_release

env:
  Version: 1.${{ github.run_number }}.${{ github.run_attempt }}.${{ github.run_id }}

jobs:
  zip_files:
    runs-on: ubuntu-latest

    steps:
      - name: Set artifact name
        run: |
          echo "ArtifactName=MHR_Util ${{ env.Version }}" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate version number
        run: |
          echo $Version

      # This step is not necessary because github actions automatically creates a zip of the artifacts
      - name: Create zip
        run: |
          zip -r "${{ env.ArtifactName }}.zip" Utilities README.md

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.Version }}
          name: ${{ env.ArtifactName }} Release
          files: ${{ env.ArtifactName }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ env.ArtifactName }}.zip"
          path: |
            Utilities/
            README.md