name: Zip Utilities and README

on:
  push:
    branches:
      - main

env:
  Version: 1.${{ github.run_number }}.${{ github.run_attempt }}.${{ github.run_id }}

jobs:
  zip_files:
    runs-on: ubuntu-latest

    steps:
      - name: Set artifact name
        run: |
          echo "ArtifactName=MHR_Util ${{ env.Version }}" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate version number
        run: |
          echo $Version

      # This step is not necessary because github actions automatically creates a zip of the artifacts
      - name: Create zip
        if: false
        run: |
          zip -r "${{ env.Version }}.zip" Utilities README.md


      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ env.ArtifactName }}.zip"
          path: |
            Utilities/
            README.md