name: MHR_Util

on:
  push:
    branches:
      - main
      - main_release

env:
  Version: 1.${{ github.run_number }}.${{ github.run_attempt }}.${{ github.run_id }}

jobs:
  build_release:
    runs-on: ubuntu-latest

    steps:
      - name: Set artifact name
        run: |
          echo "ArtifactName=MHR_Util ${{ env.Version }}" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate version number
        run: |
          echo $Version

      - name: Create zip
        if: github.ref == 'refs/heads/main_release'
        run: |
          cd Utilities
          zip -r "${{ env.ArtifactName }}.zip" ./*

      - name: Delete all existing releases
        if: github.ref == 'refs/heads/main_release'
        run: |
          run: |
            releases=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              https://api.github.com/repos/${{ github.repository }}/releases | jq -r '.[].id')
            for id in $releases; do
              echo "Deleting release $id"
              curl -X DELETE -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
                https://api.github.com/repos/${{ github.repository }}/releases/$id
            done
      
      - name: Delete all tags
        if: github.ref == 'refs/heads/main_release'
        run: |
          tags=$(git ls-remote --tags origin | awk '{print $2}' | sed 's|refs/tags/||')
          for tag in $tags; do
            echo "Deleting tag $tag"
            git push origin --delete $tag
          done

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: github.ref == 'refs/heads/main_release'
        with:
          tag_name: v${{ env.Version }}
          name: ${{ env.ArtifactName }} Release
          files: Utilities/${{ env.ArtifactName }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ env.ArtifactName }}.zip"
          path: |
            Utilities/**/*